<% title("Добро пожаловать") %>
<%= stylesheet_link_tag("pages") %>



<div class="container">
	
	<div class="row main">
		<div class="col col-lg-12">
			<div class="row">
			  <div class="col col-lg-2 logotip"><h2 class="text-center"><%= link_to 'Rasart', root_path %></h2></div>
			  <div class="col col-lg-6 hidden-sm entry"><h4 class="text-left">Все внимание на картинки, они мне нравятся...</h4></div>
			  
			  <div class="col col-lg-4 navigation">
				  <a href="#" class="next"></a>
				  <nav class="pull-right">
					  <a href="#" class="active"><span>1</span></a>
					  <a href="#"><span>2</span></a>
					  <a href="#"><span>3</span></a>
					  <a href="#"><span>4</span></a>
					  <a href="#"><span>5</span></a>
				  </nav>
			  </div>
			  
			</div>
		</div>
		
		
		<div class="col col-lg-12 projects">
			<div class="row">
				
				<div class="col col-lg-2 project">
					<div class="preview">
						<%= link_to (image_tag 'bg.jpg', class: "img-rounded") %>
						<div class="clear"></div>
					</div>
					<div class="hidden-sm info">
						<h6>Заголовок</h6>
					</div>
				</div>
				
				<div class="col col-lg-2 project">
					<div class="preview">
						<%= link_to (image_tag 'bg.jpg', class: "img-rounded") %>
						<div class="clear"></div>
					</div>
					<div class="hidden-sm info">
						<h6>Заголовок</h6>
					</div>
				</div>
				
				<div class="col col-lg-2 project">
					<div class="preview">
						<%= link_to (image_tag 'bg.jpg', class: "img-rounded") %>
						<div class="clear"></div>
					</div>
					<div class="hidden-sm info">
						<h6>Заголовок</h6>
					</div>
				</div>
			
				<div class="col col-lg-2 project">
					<div class="preview">
						<%= link_to (image_tag 'bg.jpg', class: "img-rounded") %>
					</div>
					<div class="hidden-sm info">
						<h6>Заголовок</h6>
					</div>
				</div>
			
				<div class="col col-lg-2 project">
					<div class="preview">
						<%= link_to (image_tag 'bg.jpg') %>
					</div>
					<div class="hidden-sm info">
						<h6>Заголовок</h6>
					</div>
				</div>
				
				
			</div>
		</div>

	</div>
	
	<div class="row about">
	  <div class="col col-lg-12">
	    <div class="row">
	      <div class="col col-lg-7 about_me">
			  <div class="row">
			    <div class="col col-lg-8 me">
					<p class="text-left"><h1><span class="name">Vitaliy Vostrikov</span></h1>
					<h4>Front-end developer, Graphic designer</h4>
					</p>
				</div>
			    <div class="col col-lg-4">
					<a href="#" class="read_blog">Есть что почитать...</a>
				</div>
				
				<div class="row social">
				  <div class="col col-lg-6">
					  <ul>
						  <li class="social_icons icon_be">
							  <%= link_to 'behance.net/rasarts', 'http://www.behance.net/rasarts' %>
						  </li>
						  <li class="social_icons icon_mail">
							  <%= mail_to 'rasart.pro@gmail.com', 'rasart.pro@gmail.com' %>
						  </li>
					  </ul>
				  </div>
				  <div class="col col-lg-6">
					  <ul>
						  <li class="social_icons icon_fb"><a href="">facebook.com/rasarts</a></li>
						  <li class="social_icons icon_gp"><a href="">plus.google.com</a></li>
					  </ul>
				  </div>
				</div>
			  </div>
			  
			  <div class="about_site">
				  <h5>Powered by Ruby On Rails 2013 year</h5>
			  </div>
			  
	      </div>
	      <div class="col col-lg-4 col-offset-1 last_posts">
			  <span class="new"></span>
			  <blockquote>
				  <p><a href="#">Небольшой заголовок</a></p>
				  <p><small>Описание</small></p>
			  </blockquote>
			  <blockquote>
				  <p><a href="#">Небольшой заголовок</a></p>
				  <p><small>Описание</small></p>
			  </blockquote>
	      </div>
	    </div>
	  </div>
	</div>

</div>

<!-- <%= javascript_include_tag("pages") %> -->