<% title("Добро пожаловать") %>
<%= stylesheet_link_tag("pages") %>
<%= stylesheet_link_tag("projects") %>

	<div class="row main">
		<div class="col col-lg-12">
			<div class="row">
			  <div class="col col-lg-2 logotip"><h2 class="text-center"><%= link_to 'Rasart', root_path %></h2></div>
			  <div class="col col-lg-6 hidden-sm entry"><h4 class="text-left">Все внимание на картинки, они мне нравятся...</h4></div>
			  
			  <div class="col col-lg-4 navigation">
				  <a href="#" class="next"></a>
				  <nav class="pull-right">
					  <a href="#" class="active"><span>1</span></a>
					  <a href="#"><span>2</span></a>
					  <a href="#"><span>3</span></a>
					  <a href="#"><span>4</span></a>
					  <a href="#"><span>5</span></a>
				  </nav>
			  </div>
			  
			</div>
		</div>
		
		
		<div class="col col-lg-12">
			<div class="row">
				<div class="projects">
					<%= render 'projects/projects'%>
				</div>
			</div>
		</div>

	</div>
	
	<%= render 'template/footer'%>
	
	</div>

<!-- <%= javascript_include_tag("pages") %> -->